@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: black;
  background-color: #efeeec;
}

.onboarding {
  min-height: calc(100vh - 64px);
}

.css-13cymwt-control {
  @apply block flex-1 border-0 !bg-transparent py-3 px-4 text-gray-900 placeholder:text-gray-400 outline-none text-xs sm:text-sm sm:leading-6 rounded-md shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-600;
}

.css-1u9des2-indicatorSeparator,
.css-1xc3v61-indicatorContainer {
  display: none;
}
